<h1 style="text-align:center">Create Your List Here!</h1>

<ul>
  <% @tasks.each do |task| %>
  <li>
    <h3> ToDo:
      <!--       <%= task.title %> -->
      <%= link_to task.title, task_path(task) %>
    </h3>
  </li>
  <% end %>
</ul>

<div style="margin-top:50px">
<%= link_to 'CREATE A NEW TASK', tasks_new_path %>
</div>
