<ul>
  <% @tasks.each do |task| %>
  <li>
    <h3>
      <!--       <%= task.title %> -->
      <%= link_to task.title, task_path(task) %>
    </h3>
  </li>
  <% end %>
</ul>

<%= link_to 'Create a new task', tasks_new_path %>

